#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  padding: 24px 0;
  border-inline: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.assignment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user h3 {
  margin-bottom: 5px;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

button {
  border: 1px solid black;
  padding: 0.3rem;
  width: 200px;
}
